* {
  box-sizing: border-box;
}

html {
  background: var(--color-background);
  color: var(--color-text);
}

body {
  margin: 0;
  min-width: 20rem;
  position: relative;
}

button,
input,
textarea,
select {
  font: inherit;
}

#root {
  isolation: isolate;
}
